.header {
    background-color: rgb(25, 23, 33);
    color: rgb(249, 248, 251);
}
.header__title {
    width: 100%;
    flex-shrink: 0;
}
.header__button {
    background-color: rgb(25, 23, 33);
    color: rgb(13, 232, 239);
}
.header__menu {
    display: flex;
    justify-content: left;
    width: 100%;
    flex-shrink: 0;
}
.header__subtitle {
    width: 100%;
    flex-shrink: 0;
}
.menu__link {
    display: flex;
    justify-content: left;
    padding-top: 1px;
    padding-bottom: 1px;
}